@import bootstrap-sprockets
@import bootstrap

form
  &.inputs-sm
    @media (min-width: $screen-md)
      .input-group, input[type="text"], input[type="url"]
        width: 70%
  .form_actions
    margin: 20px 0
  .disable-inputs-sm
    width: 100% !important

.btn-group
  display: flex

.margin_left_btn
  margin-left: 10px

.toolbar
  margin-bottom: 10px
